<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @time_off.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @time_off.end_date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @time_off.reason %>
</p>

<p>
  <strong>User:</strong>
  <%= @time_off.user.name %>
</p>

<%= link_to 'Edit', edit_time_off_path(@time_off) %> |
<%= link_to 'Back', time_offs_path %>
